<CsoundSynthesizer>
;<CsOptions>
;</CsOptions>
; ==============================================
<CsInstruments>
	
sr	=	44100
kr	=	44100
ksmps	=	1
nchnls	=	1
0dbfs = 1.0

          instr 1	

iamp      =          ampdb(p4)
aout      gbuzz      iamp,100,200,1,1,1
          out        aout

          endin

</CsInstruments>
; ==============================================
<CsScore>

<%= self.to_csound_score %>

</CsScore>
</CsoundSynthesizer>
