.PS
#
# frame(tag, title, duration, ref_duration, csound_samples)
#
frame(<%= self.language %>, "<%= self.language %>", <%= self.dur %>, <%= REFERENCE_SONG.dur %>, <%= Display::Csound::PVOC_SPEED_GEN_TABLE_SIZE %>)
#
# first line
#
first_segment(<%= self.segments.first.conditioned_label %>,<%= self.segments.first.dur %>,<%= self.language %>,<%= self.dur %>,1)
<%
   self.segments[1..-1].each_index do
     |idx|
     s = self.segments[idx+1] # current (idx+1 because we're one segment ahead)
     p = self.segments[idx]   # previous segment
%>
  next_segment(<%= s.conditioned_label %>,<%= s.dur %>,<%= p.conditioned_label %>)
<% end %>
#
# second line
#
<% ref = REFERENCE_SONG %>
first_segment(<%= ref.segments.first.conditioned_label %>,<%= ref.segments.first.dur %>,<%= self.language %>,<%= self.dur %>,2)
<%
   ref.segments[1..-1].each_index do
     |idx|
     s = ref.segments[idx+1] # current (idx+1 because we're one segment ahead)
     p = ref.segments[idx]   # previous segment
%>
  next_segment(<%= s.conditioned_label %>,<%= s.dur %>,<%= p.conditioned_label %>)
<% end %>
#
# connections
#
<%
  self.segments.each_index do
    |idx|
%>
  connect(<%= self.segments[idx].conditioned_label %>.w,<%= ref.segments[idx].conditioned_label %>.w)
<% end %>
connect(<%= self.segments.last.conditioned_label %>.e, <%= ref.segments.last.conditioned_label %>.e)
#
# csound table display
#
<% cs = self.segments.first %>
csound_segment(<%= cs.conditioned_label %>, <%= self.language %>_csound_data_grid_box.w, <%= cs.csound_dur %>, <%= cs.csound_warping %>, <%= self.language %>, <%= cs.grid_vertical_position %>)
<%
  self.segments[1..-1].each_index do
    |idx|
    cs = self.segments[idx+1]
    ps = self.segments[idx]
%>
  csound_segment(<%= cs.conditioned_label %>, <%= ps.conditioned_label %>_csound.e, <%= cs.csound_dur %>, <%= cs.csound_warping %>, <%= self.language %>, <%= cs.grid_vertical_position %>)
<% end %>
.PE
