%
% This is used to verify that the normalization is done properly
% The writing is not typical matlab writing, but it is figured out
% to simulate as closely as possible what csound does (in the
% 'normalization.orc' orchestra)
%
addpath("<%= ::Normalizer::Display::Octave::LOAD_PATH %>");

kr = 4410;
ksinc = 1.0/kr;
language = '<%= self.language %>';
iodur    = <%= self.dur %>;            % the original duration (p4)
idur     = <%= self.normalized_dur %>; % the current duration (p3)
iflen    = <%= ::Normalizer::Display::Csound::PVOC_SPEED_GEN_TABLE_SIZE %>;
ifreq    = 1.0 / idur;
iofreq   = 1.0 / iodur;
<%= self.gen_to_octave %>


t = [0:ksinc:idur - ksinc];
kfreader = phasor(ifreq, idur, kr);
ktimpt   = normalized_table(ifun, kfreader);

plot(t, ktimpt, ";time pointer vs. ref. time;")
l = 3; % seconds of leeway both directions
axis([0 idur+l 0 iodur+l])
